@import '/public/css/general.scss';

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $navbar-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;

  &__logo{
    flex: 0 0 auto;
  }
  
  &__links{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
  }

  &__link{
    margin: 0 10px;
    font-weight: bold;
    color: black;
  }
}